extends includes/layout.pug

block content
  #tag
    h2= __('tag_filtered')
      span.mr-2 :
      i= page.tag
    .card-body.bg-white.shadow-sm.mb-3
      ul
        - page.posts.each(function(article){
          li
            a(href=url_for(article.path)).mr-2= article.title
            time(datetime=date_xml(article.date))= date(article.date)        
        - })