nav.navbar.navbar-expand-lg.navbar-light.bg-white.sticky-top.shadow
  .container
    a.navbar-brand(href=url_for(''))= theme.name
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.ml-auto      
        each item, i in theme.menu
          a.nav-item.nav-link(href=item)= __(i)
        if config.search.path
          button.btn.btn-outline-primary(data-toggle='modal', data-target='#search-modal')
            i#search-enabled.fa.fa-search